<!DOCTYPE html> 
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guiapress</title>

    <!--
       *Não precisa importar a pasta public pois quando trabalhamos
       com express ele já procura a pasta que foi configurada no nosso projeto
       que no caso é pasta public.
    -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
